body{
    margin: 0;
    font-family: "Comfortaa";
}
header{
    display: flex;
    padding: 25px;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}
.list{
    list-style: none;
    display: flex;
    padding: 0;
    gap: 60px;
}
.burger-btn{
    border: 0;
    background-color: white;
}
.logo{
    width: 8%;
}
.second-section-title{
    text-align: center;
}
.card{
  background-color: #544E38;  
  width: 797px;
  margin: 0 auto;
  border-radius: 40px;
  padding: 40px;
}
.book-img{
 width: 350px;
 display: block;
 margin: 0 auto;
 border-radius: 10px;
}
.book-text{
    text-align: center;
}
.first-section{
    display: flex;
    justify-content: space-between;
}
.first-section-img{
    width: 30%;
    height: 30%;
}
.first-section-text-block{
    padding: 100px;
}
.first-section-btn{
    margin: 20px;
    border-radius: 50px;
    width: 260px;
    height: 60px;
    background-color: #A99B76;
    border: 0;
    font-size: 30px;
    font-weight: 300;
    cursor: pointer;
}
@font-face {
    font-family: "Comfortaa";
    src: local("Comfortaa"), url(./Comfortaa/static/Comfortaa-Regular.ttf);
}
.list-item{
    font-size: 25px;
}
.first-section-title, .second-section-title{
    font-size: 50px;
    font-weight: 700;
}
.first-section-name{
    font-size: 35px;
    font-weight: 600;
}
.first-section-text{
    font-size: 20px;
}
.first-section-price{
    font-size: 25px;
    margin: 15px;
    font-weight: 600;
}
.second-section{
   padding: 100px 0;
}
.book-text{
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 0;
}
.third-section-tittle-block{
    display: flex;
}
.adress, .time, .phone, .third-section-tittle{
    margin: 20px;
}
.third-section-block{
    background-color: #A99B76;
    display: flex;
}
.map{
    width: 887px;
    height: 691px;
}
.question{
    background-color: white;
    border-radius: 20px;
    margin: 0 auto;
    padding: 20px;
    width: 510px;
    display: flex;
    flex-direction: column;
    margin-left: 100px;
}
.phone-btn{
    border-radius: 15px;
    padding: 15px;
    margin: 20px;
    background-color: #A99B76;
    border: 0;
}
input{
    margin: 10px 0; 
    padding: 5px;
}




@media(max-width: 490px){
    nav{
        display: none;
    }
    .first-section{
      display: flex;
      flex-direction: column-reverse;
    }
    .first-section-img{
        margin: 0 auto;
        width: 75%;
    }
    .itc-slider-wrapper, .card, .book-img{
        width: 75%;
        margin: 0 auto;
    }
    .itc-slider-btn{
      visibility: hidden;
    }
    .third-section-block{
        display: flex;
        flex-direction: column;
    }
    .map{
        width: 100%;
    }
    .question{
        width: 70%;
        margin: 0 auto;
    }
    .third-section-line{
        width: 200px;
    }
    .logo, .burger-btn{
        width: 20%;
    }
    .first-section-title, .second-section-title{
        font-size: 23px;
    }
    .first-section-name{
        font-size: 19px;
    }
    .first-section-text{
        font-size: 14px;
    }
    .first-section-price{
        font-size: 19px;
        margin: 15px;
    }
    .first-section-btn{
        width: 200px;
        height: 40px;
        font-size: 19px;
    }
}